<script>
var fo = 0, b = 0;
$(".savings").focusout(function() {
  $(".debt").text();
  $("#fo")
    .text("focusout fired: " + fo + "x");
})
function show_actions(id1, id2)
{
    document.getElementById(id1).style.display='inline-block';
    document.getElementById(id2).style.display='inline-block';

}
function hide_actions(id1, id2)
{
    document.getElementById(id1).style.display='none';
    document.getElementById(id2).style.display='none';
}
function pass_id(id)
{

    document.getElementById("budget_id").value=id

}
function pass_values(name, value)
{
     //code all this
    document.getElementById("budget_id").value=id

}

</script>

<div id="add_bill" class="reveal-modal">
  <h2>Add Bill</h2>

  <%= form_for(:budget, :url => {:action => 'create_single_bill'}) do |f| %>

    <fieldset>
      <%= f.text_field :name, :autofocus => true, :placeholder => "i.e. Cell Phone" %><br />
      <%= f.text_field :amount, :class => "amount debt" %>
    </fieldset>

      <div class="clear"></div>
      <div style="text-align:right;"><%= f.submit "Next >>", :class => "next" %></div>

      <a class="close-reveal-modal">&#215;</a>
  <%- end %>
</div>
<div id="delete_bill" class="reveal-modal">
  <h2>Delete Bill</h2>

  <%= form_for(:budget, :url => {:action => 'delete_bill'}) do |f| %>

      Are you sure you want to delete this bill?

      <%= f.hidden_field :id %>
      <div class="clear"></div>
      <div style="text-align:right;"><%= f.submit "Delete >>", :class => "next" %></div>

      <a class="close-reveal-modal">&#215;</a>
  <%- end %>
</div>